<!-- ##### SECTION Title ##### -->
Browser

<!-- ##### SECTION Short_Description ##### -->
DeforaOS Desktop Browser

<!-- ##### SECTION Long_Description ##### -->
<para>
File manager and image browser for the DeforaOS desktop.
</para>

<!-- ##### SECTION See_Also ##### -->
<para>
DeforaOS libDesktop, DeforaOS libSystem
</para>

<!-- ##### SECTION Stability_Level ##### -->


<!-- ##### SECTION Image ##### -->


