/browser.1
/browser.html
/browser.xml
/copy.1
/copy.html
/copy.xml
/delete.1
/delete.html
/delete.xml
/desktop.1
/desktop.html
/desktop.xml
/desktopctl.1
/desktopctl.html
/desktopctl.xml
/move.1
/move.html
/move.xml
/open.1
/open.html
/open.xml
/pinentry-sudo-askpass
/properties.1
/properties.html
/properties.xml
/view.1
/view.html
/view.xml
/zenity-sudo-askpass
