[Desktop Entry]
Name=Desktop
Comment=Preferences for the desktop
TryExec=desktopctl
Exec=desktopctl -S
Icon=gnome-settings-background
Type=Application
Categories=Settings;DesktopSettings;GTK;
