[Desktop Entry]
Name=File viewer
Comment=Viewer for text and image files
TryExec=view
Exec=view %F
Icon=system-file-manager
Type=Application
Categories=System;Core;FileManager;GTK;
StartupNotify=true
Hidden=true
